


:root {
  --background-light: #f4f7f9;
  --surface-white: #ffffff;
  --primary-brand: #6a5acd;
  --primary-brand-dark: #5a4baf;
  --text-primary: #1a202c;
  --text-secondary: #718096;
  --border-color: #e2e8f0;
  --error-color: #e53e3e;


  font-family: 'Poppins', -apple-system, BlinkMacSystem-Bold, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-light);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {

}


.App-header {
  display: none;
}
